<div class="flex-container">
  <app-sidebar [videoList]="videoList" (videoClick)="createVideoUrl($event)"></app-sidebar>


  <section>
    <video *ngIf="currentlyPlaying" controls autoplay>
      <source [src]="currentlyPlaying.url" (error)="errored($event)">
    </video>
    <p *ngIf="currentlyPlaying">{{currentlyPlaying.fileName}}</p>
    {{videoUnsupportError}}
    <form [formGroup]="form" (change)="onChange($event)">
      <label>
        {{uploadFileName || 'Upload New Video here..'}}
        <input type="file" formControlName="fileControl" [hidden]="true">
      </label>
      <input type="submit" value="Upload">
    </form>
    <p class="uploadMessage" [ngClass]="{uploadFailed: uploadFailureMessage ,success: uploadSuccessMessage, progress: uploadProgressMessage}">
      {{uploadFailureMessage || uploadSuccessMessage || uploadProgressMessage}}</p>
  </section>


</div>