header {
  background-color: #0000005d;
  width: 100%;
  position: sticky;
  top: 0%;
  z-index: 1;
}
h2 {
  margin: 5% auto;
  display: block;
  text-align: center;
  color: white;
}
p {
  width: 500px;
  transition-property: all;
  transition-duration: 1s;
  font-size: 0.8rem;
  margin: 1% 1%;
  cursor: pointer;
  animation: left_to_right 2s 1;
}

p:hover {
  transform: scale3d(1.1, 1.1, 1.1) translate3d(10%, 0, 0);
}

@keyframes left_to_right {
  0% {
    transform: translate3d(-20%, 0, 0);
    opacity: 0;
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
